*{ margin: 0; padding: 0; box-sizing: border-box;}

#header {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;
    width: 85vw;
    position: relative;
}
#header a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 1;
}
#navbar {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: -20px;
    border-bottom: 4px solid indigo;
    /* background-color: aqua; */
}
.logo {
    width: 18rem;
    height: 5rem;
}
#nav-links {
    list-style: none;
    margin-top: 7px;
}
nav ul a {
    text-decoration: none;
    color: black;
}
#nav-links li {
    margin-top: 10px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
#carouselExampleFade img {
    height: 400px;
    object-fit: cover;
}
img{
    width: 100%;
    object-fit: cover;
}
#italic {
    font-style: italic;
}
#sidebar {
    border: 1px solid indigo;
    padding: 2rem 0 2rem 0;
}
#tag {
    background-color: indigo;
    width: 3.65rem;
    height: 5rem;
    text-align: center;
    color: rgb(220 220 220);
    position: relative;
    margin-left: 46rem;
    margin-top: -20px;
    font-weight: 700;
}
#tag-top {
    background: rgb(75 0 130);
    width: 4rem;
    height: 5rem;
    color: rgb(220 220 220);
    position: relative;
    left: 49.45rem;
    top: 3.5rem;
    text-align: center;
}
h2 {
    position: relative;
    text-align: right;
    text-transform: uppercase;
}
#hr {
    color: rgb(75 0 130);
    height: 5px;
    opacity: 1;
    margin-bottom: 2rem;
    
}
#side-2 {
    border: 1px solid indigo;
    position: relative;
    top: 17rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    /* height: 10rem; */
    bottom: 10rem;
}
#instagram {
    margin: 2.5rem 0 2.5rem 0;
    font-size: 2.5rem;
}
ul li {
    list-style: none;
    text-transform: uppercase;
    color: gray;
}

